<div id="<%= dom_id music %>">
  <p>
    <strong>Name:</strong>
    <%= music.name %>
  </p>

  <p>
    <strong>Performer:</strong>
    <%= music.performer %>
  </p>

  <p>
    <strong>Lyricist:</strong>
    <%= music.lyricist %>
  </p>

  <p>
    <strong>Compposer:</strong>
    <%= music.composer %>
  </p>

  <p>
    <strong>Arranger:</strong>
    <%= music.arranger %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= music.length %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= music.description %>
  </p>

</div>
