<p style="color: green"><%= notice %></p>

<% content_for :title, "Musics" %>

<h1><%= t('views.musics.index.title') %></h1>

<%= form_with url: musics_path, method: :get, local: true do %>
  <div>
    <%= label_tag :keyword, t('views.musics.index.search_label') %>
    <%= text_field_tag :keyword, params[:keyword] %>
    <%= submit_tag t('views.musics.index.search_button') %>
    <%= link_to t('views.musics.index.search_reset'), musics_path, class: "button" %>
  </div>
<% end %>

<table border="1">
  <thead>
    <tr>
      <th><%= sortable("name") %></th>
      <th><%= sortable("performer") %></th>
      <th><%= sortable("lyricist") %></th>
      <th><%= sortable("composer") %></th>
      <th><%= sortable("arranger") %></th>
      <th><%= sortable("length") %></th>
      <th><%= Music.human_attribute_name(:details) %></th>
    </tr>
  </thead>
  <tbody>
    <% @musics.each do |music| %>
      <tr id="<%= dom_id(music) %>">
        <td><%= music.name %></td>
        <td><%= music.performer %></td>
        <td><%= music.lyricist %></td>
        <td><%= music.composer %></td>
        <td><%= music.arranger %></td>
        <td><%= music.length %></td>
        <td><%= link_to "Show", music %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('views.musics.index.new_button'), new_music_path %>