<p style="color: green"><%= notice %></p>

<%= render @music %>

<div>
  <%= link_to t('views.musics.show.edit_button'), edit_music_path(@music) %> |
  <%= link_to t('views.musics.show.back_button'), musics_path %>

  <%= button_to t('views.musics.show.destroy_button'), @music, method: :delete %>
</div>

<div>
  <% if @music.likes.exists?(user: current_user) %>
    <%= button_to "いいね解除", music_like_path(@music), method: :delete %>
  <% else %>
    <%= button_to "いいね", music_like_path(@music), method: :post %>
  <% end %>
</div>